<h1><%= "Definitions for the word \"#{@word.word}\"" %></h1>

<form action="/add_definition/<%= @word.id %>" method="post">
  <input type="text" id="definition" name="definition" size="100" placeholder="Add Definition"> <br>
  <button type="submit">Add</button>
</form>
<ul>
  <% @word.definitions.each do |word| %>
    <li><%= word.definition %></li>
  <% end %>
</ul>
<a href="/">Home</a>
